//partner slider
// 5.06 partner section styles
.skill-slider {
  position: relative;
  z-index: 1;

  .slick-track {
    display: flex;
    align-items: center;
  }

  .partner__slider-single {
    text-align: center;
    img {
      filter: grayscale(100%);
      transition: filter 0.3s ease;
      max-width: 10vw;
      min-width: 50px;
      &:hover {
        filter: none;
      }
    }
  }

  .slick-center {
    img {
      filter: none;
    }
  }

  .swiper-slide-active {
    img {
      filter: none;
    }
  }
}


nav {
  header {
    span::before {
      color: blue;
      opacity: 1;
    }
    span::after {
      color: blue;
      opacity: 1;
    }
  }
}